<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <ul>
    <li><a href="#/links">Links</a></li>
    <li><a href="#/shorten">Shorten</a></li>
    <!-- <li><a href="#/signin" class="signin">Login</a></li> -->
      <!-- <li><a href="#/signup">Sign Up</a></li> -->
  </ul>
  <input type='text' ng-model="searchString"/>
  <div class='link' ng-repeat="link in data | filter: searchString">    
      <img src="/assets/redirect_icon.png">
      <span class="title"> {{ link.title }}</span>
      <span class="visits">Visits: 
        <span class="counts">{{ link.visits }}</span>
      </span>
      <p class="original">{{link.url}}</p>
      <a class="info" href="{{link.base_url + '/api/links/' + link.code}}" target=" " ng-click="increaseCount(link)"> {{ link.base_url + '/api/links/' + link.code }} </a>
  </div>
</div>
